body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.card{
 
    /* background-color: red; */
 
    
   
}
.images_cards{
    width: 80%;
    
    display: grid;
    margin: auto;
    gap: 1.33%;
    grid-template-columns: 24% 24% 24% 24%;


}   
.card>img{
    width: 100%;
    margin: auto;
}

.container_images{
    margin-top: -5rem;
}