body{
    margin: 0;
    padding: 0;
    width: 100%;
}

.card{
 
    /* background-color: red; */
    height: 300px;
    
   
}
.images_cards{
    width: 80%;
    
    display: grid;
    margin: auto;
    /* gap: 5%; */
    grid-template-columns: 25% 25% 25% 25%;
}
.card>img{
    width: 100%;
    margin: auto;
}

.container_images{
    margin-top: -5rem;
}