*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 100%;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #2e3035;
    height: 200vh;
}

.container{
    height: 400px;
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
}


.navbar{
    display: flex;
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
   position: fixed;
   width: 100%;
   height: 70px;
   z-index: 1;
}

.logo img{
    width: 90px;
    position: relative;
    top: -10px;
    margin-left: 20px;
}
.button_upload{
    margin: 15px;
    background-color: #1bb76e;
    position: relative;
    width: 120px;
    box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
    height: 30px;
    border-radius: 3px;
    padding: 2px;
}
.button_upload img{
    margin: 5px;
}
.button_upload span{
    position: absolute;
    top: 7px;
    right: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.searchbar{
    width: 40%;
    margin: 15px;
    margin-left: 10%;
    position: relative;
}
.searchbar input{
width: 100%;
padding: 10px 10px;
border-radius: 3px;
outline: none;
border: 0px;
background-color: #46446A;
font-size: 16px;
color: white;
}

.search_icon{
    color: white;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 6px;
}

.ad_free{
    margin: 0px 20px;
}
.ad_free p{
    margin: 15px;
    background-color: #6432F9;
   padding: 10px;
   color: white;
   box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
   font-weight: 600;
   border-radius: 3px;
}
.comments,.chat,.notifination{
    margin: 15px 5px;
}

.profile img{
    margin: 15px;
    width: 40px;
    border-radius: 50%;
}
.divider{
    height: 100px;
}

.title h1{
    color: #AED8EA;
    text-align: center;
}

.tags_container{
    width: 90%;
    margin: auto;
    height: 200px;

}
.explore{
    display: flex;
    justify-content: space-between;
}
.explore h2{
    color: gray;
    font-size: 17px;
   cursor: pointer;
   margin: 5px;
}

.box_container{
    display: flex;
}
.box1{
    width: 20%;
    height: 130px;
    margin: 5px;
   position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.box{
    width: 10%;
    height: 130px;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.box img,.box1 img{
height: 100%;

border-radius: 5px;
}

.lable1{
    position: absolute;
   width: 100%;
height:50%;
bottom: 0;
background-color: #C56579;

color: white;
}
.lable1 p{
    text-align: center;
    padding: 5px;
    font-size: 15px;
}
.lable1 h6{
    text-align: center;
    color: rgb(194, 189, 189);
   font-size: 12px;
}